@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?b9imrl");
  src:
    url("fonts/icomoon.eot?b9imrl#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?b9imrl") format("truetype"),
    url("fonts/icomoon.woff?b9imrl") format("woff"),
    url("fonts/icomoon.svg?b9imrl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=""],
[class*=" "] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.videocam:before {
  content: "\e901";
}
.email:before {
  content: "\e915";
}
.forum:before {
  content: "\e98e";
}
.contact_phone:before {
  content: "\e917";
}
.contact_mail:before {
  content: "\e918";
}
.handle:before {
  content: "\e919";
}
.list_alt:before {
  content: "\e91c";
}
.lightbulb:before {
  content: "\e98f";
}
.cut:before {
  content: "\e900";
}
.pencil:before {
  content: "\e905";
}
.drafts:before {
  content: "\e90f";
}
.survey:before {
  content: "\e991";
}
.file_copy:before {
  content: "\e94d";
}
.storage:before {
  content: "\e914";
}
.wifi_tethering:before {
  content: "\e986";
}
.attach_file:before {
  content: "\e91d";
}
.attach_money:before {
  content: "\e91e";
}
.border_all:before {
  content: "\e902";
}
.border_bottom:before {
  content: "\e904";
}
.border_clear:before {
  content: "\e906";
}
.border_color:before {
  content: "\e908";
}
.border_horizontal:before {
  content: "\e909";
}
.border_inner:before {
  content: "\e90a";
}
.border_left:before {
  content: "\e90c";
}
.border_outer:before {
  content: "\e90e";
}
.border_right:before {
  content: "\e910";
}
.border_style:before {
  content: "\e921";
}
.border_top:before {
  content: "\e922";
}
.border_vertical:before {
  content: "\e923";
}
.align_center:before {
  content: "\e924";
}
.align_justify:before {
  content: "\e925";
}
.align_left:before {
  content: "\e926";
}
.align_right:before {
  content: "\e927";
}
.bold:before {
  content: "\e928";
}
.clear:before {
  content: "\e929";
}
.color_fill:before {
  content: "\e92a";
}
.color_reset:before {
  content: "\e937";
}
.color_text:before {
  content: "\e938";
}
.indent_decrease:before {
  content: "\e939";
}
.indent_increase:before {
  content: "\e93a";
}
.italic:before {
  content: "\e93b";
}
.line_spacing:before {
  content: "\e93c";
}
.list_bulleted:before {
  content: "\e93d";
}
.list_numbered:before {
  content: "\e93e";
}
.format_paint:before {
  content: "\e911";
}
.quote:before {
  content: "\e913";
}
.text_size:before {
  content: "\e93f";
}
.format_strikethrough:before {
  content: "\e940";
}
.textdirection_l_to_r:before {
  content: "\e941";
}
.textdirection_r_to_l:before {
  content: "\e945";
}
.underlined:before {
  content: "\e946";
}
.functions:before {
  content: "\e947";
}
.insert_drive_file:before {
  content: "\e99c";
}
.publish:before {
  content: "\e951";
}
.space_bar:before {
  content: "\e952";
}
.strikethrough_s:before {
  content: "\e954";
}
.vertical_align_bottom:before {
  content: "\e957";
}
.vertical_align_center:before {
  content: "\e959";
}
.vertical_align_top:before {
  content: "\e95b";
}
.wrap_text:before {
  content: "\e95c";
}
.money_off:before {
  content: "\e95d";
}
.drag_handle:before {
  content: "\e95e";
}
.text_fields:before {
  content: "\e987";
}
.monetization_on:before {
  content: "\e988";
}
.title:before {
  content: "\e99f";
}
.table_chart:before {
  content: "\e9a0";
}
.format_list_numbered_rtl:before {
  content: "\e9a1";
}
.scatter_plot:before {
  content: "\e9a2";
}
.attachment:before {
  content: "\e95f";
}
.cloud:before {
  content: "\e9a3";
}
.cloud_done:before {
  content: "\e9a4";
}
.cloud_download:before {
  content: "\e9a5";
}
.cloud_upload:before {
  content: "\e9a6";
}
.file_download:before {
  content: "\e9a7";
}
.file_upload:before {
  content: "\e9a8";
}
.folder:before {
  content: "\e9a9";
}
.folder_open:before {
  content: "\e9ab";
}
.folder_shared:before {
  content: "\e9ac";
}
.create_new_folder:before {
  content: "\e9ae";
}
.tablet_android:before {
  content: "\e960";
}
.tablet_mac:before {
  content: "\e961";
}
.tv:before {
  content: "\e962";
}
.brightness_1:before {
  content: "\e963";
}
.brightness_2:before {
  content: "\e96a";
}
.brightness_4:before {
  content: "\e96c";
}
.brush:before {
  content: "\e96e";
}
.camera2:before {
  content: "\e96f";
}
.tune:before {
  content: "\e98b";
}
.view_comfy:before {
  content: "\e9b0";
}
.view_compact:before {
  content: "\e9b1";
}
.wb_incandescent:before {
  content: "\e9b2";
}
.zoom_out_map:before {
  content: "\e970";
}
.menu:before {
  content: "\e9b3";
}
.notifications:before {
  content: "\e971";
}
.notifications_none:before {
  content: "\e972";
}
.notifications_off:before {
  content: "\e973";
}
.notifications_on:before {
  content: "\e974";
}
.notifications_paused:before {
  content: "\e9b4";
}
.thumb_down_alt:before {
  content: "\e9b5";
}
.thumb_up_alt:before {
  content: "\e9b6";
}
.radio_button_on:before {
  content: "\e975";
}
.star:before {
  content: "\e976";
}
.assignment_turned_in:before {
  content: "\e92f";
}
.credit_card:before {
  content: "\e9b7";
}
.dashboard:before {
  content: "\e977";
}
.dns:before {
  content: "\e978";
}
.unread_mailbox:before {
  content: "\e930";
}
.contact_calendar:before {
  content: "\e979";
}
.scan_wifi:before {
  content: "\e97a";
}
.settings_input_component:before {
  content: "\e98c";
}
.settings_voice:before {
  content: "\e9b8";
}
.track_changes:before {
  content: "\e9b9";
}
.verified_user:before {
  content: "\e9ba";
}
.view_stream:before {
  content: "\e9bb";
}
.view_week:before {
  content: "\e9bc";
}
.euro_symbol:before {
  content: "\e97b";
}
.mail_unread:before {
  content: "\e931";
}
.menu_open:before {
  content: "\e9bd";
}
.schedule_send:before {
  content: "\e9af";
}
.menu_book:before {
  content: "\e9be";
}
.attach_email:before {
  content: "\e97c";
}
.mark_email_read:before {
  content: "\e9bf";
}
.mark_email_unread:before {
  content: "\e9c1";
}
.outgoing_mail:before {
  content: "\e9c3";
}
.text_snippet:before {
  content: "\e98d";
}
.reduce_capacity:before {
  content: "\e985";
}
.align_horizontal_center:before {
  content: "\e97d";
}
.align_horizontal_left:before {
  content: "\e97e";
}
.align_horizontal_right:before {
  content: "\e97f";
}
.align_vertical_bottom:before {
  content: "\e981";
}
.align_vertical_center:before {
  content: "\e982";
}
.align_vertical_top:before {
  content: "\e983";
}
.qr_code:before {
  content: "\e984";
}
.asterisk:before {
  content: "\f069";
}
.plus:before {
  content: "\f067";
}
.question:before {
  content: "\f128";
}
.minus:before {
  content: "\f068";
}
.glass:before {
  content: "\f000";
}
.search:before {
  content: "\f002";
}
.heart:before {
  content: "\f004";
}
.star-o:before {
  content: "\f006";
}
.user:before {
  content: "\f007";
}
.film:before {
  content: "\f008";
}
.th-large:before {
  content: "\f009";
}
.th:before {
  content: "\f00a";
}
.check:before {
  content: "\f00c";
}
.trash:before {
  content: "\f014";
}
.home:before {
  content: "\f015";
}
.lock:before {
  content: "\f023";
}
.flag:before {
  content: "\f024";
}
.volume-off:before {
  content: "\f026";
}
.volume-down:before {
  content: "\f027";
}
.volume-up:before {
  content: "\f028";
}
.tag:before {
  content: "\f02b";
}
.book1:before {
  content: "\f02d";
}
.camera:before {
  content: "\f030";
}
.video-camera1:before {
  content: "\f03d";
}
.picture:before {
  content: "\f03e";
}
.map-marker:before {
  content: "\f041";
}
.pause:before {
  content: "\f04c";
}
.stop:before {
  content: "\f04d";
}
.chevron-left:before {
  content: "\f053";
}
.chevron-right:before {
  content: "\f054";
}
.eye:before {
  content: "\f06e";
}
.eye-slash:before {
  content: "\f070";
}
.exclamation-triangle:before {
  content: "\f071";
}
.warning:before {
  content: "\f071";
}
.calendar1:before {
  content: "\f073";
}
.chevron-up:before {
  content: "\f077";
}
.chevron-down:before {
  content: "\f078";
}
.bar-chart:before {
  content: "\f080";
}
.bar-chart-o:before {
  content: "\f080";
}
.camera-retro:before {
  content: "\f083";
}
.cogs1:before {
  content: "\f085";
}
.comments:before {
  content: "\f086";
}
.github:before {
  content: "\f092";
}
.globe:before {
  content: "\f0ac";
}
.tasks:before {
  content: "\f0ae";
}
.filter1:before {
  content: "\f0b0";
}
.briefcase:before {
  content: "\f0b1";
}
.arrows-alt:before {
  content: "\f0b2";
}
.group:before {
  content: "\f0c0";
}
.users:before {
  content: "\f0c0";
}
.sort:before {
  content: "\f0dc";
}
.unsorted:before {
  content: "\f0dc";
}
.sort-desc:before {
  content: "\f0dd";
}
.sort-down:before {
  content: "\f0dd";
}
.sort-asc:before {
  content: "\f0de";
}
.sort-up:before {
  content: "\f0de";
}
.exchange:before {
  content: "\f0ec";
}
.circle:before {
  content: "\f111";
}
.location-arrow:before {
  content: "\f124";
}
.code-fork:before {
  content: "\f126";
}
.bullseye:before {
  content: "\f140";
}
.sort-alpha-asc1:before {
  content: "\f15d";
}
.sort-alpha-desc1:before {
  content: "\f15e";
}
.sort-numeric-asc1:before {
  content: "\f162";
}
.sort-numeric-desc:before {
  content: "\f163";
}
.thumbs-up:before {
  content: "\f164";
}
.thumbs-down:before {
  content: "\f165";
}
.youtube:before {
  content: "\f166";
}
.file-pdf-o:before {
  content: "\f1c1";
}
.file-word-o:before {
  content: "\f1c2";
}
.file-excel-o:before {
  content: "\f1c3";
}
.file-powerpoint-o:before {
  content: "\f1c4";
}
.paragraph:before {
  content: "\f1dd";
}
.wifi:before {
  content: "\f1eb";
}
.area-chart:before {
  content: "\f1fe";
}
.pie-chart:before {
  content: "\f200";
}
.line-chart:before {
  content: "\f201";
}
.envelope-open:before {
  content: "\f2b6";
}
.office:before {
  content: "\e903";
}
.quill:before {
  content: "\e907";
}
.droplet:before {
  content: "\e90b";
}
.image:before {
  content: "\e90d";
}
.play:before {
  content: "\e912";
}
.pacman:before {
  content: "\e916";
}
.bullhorn:before {
  content: "\e91a";
}
.connection:before {
  content: "\e91b";
}
.book:before {
  content: "\e91f";
}
.books:before {
  content: "\e920";
}
.file-zip:before {
  content: "\e92b";
}
.copy:before {
  content: "\e92c";
}
.paste:before {
  content: "\e92d";
}
.stack:before {
  content: "\e92e";
}
.folder-minus:before {
  content: "\e932";
}
.folder-download:before {
  content: "\e933";
}
.folder-upload:before {
  content: "\e934";
}
.price-tag:before {
  content: "\e935";
}
.price-tags:before {
  content: "\e936";
}
.phone:before {
  content: "\e942";
}
.phone-hang-up:before {
  content: "\e943";
}
.address-book:before {
  content: "\e944";
}
.location:before {
  content: "\e948";
}
.compass:before {
  content: "\e949";
}
.compass2:before {
  content: "\e94a";
}
.map:before {
  content: "\e94b";
}
.map2:before {
  content: "\e94c";
}
.clock:before {
  content: "\e94e";
}
.clock2:before {
  content: "\e94f";
}
.alarm:before {
  content: "\e950";
}
.calendar:before {
  content: "\e953";
}
.keyboard:before {
  content: "\e955";
}
.display:before {
  content: "\e956";
}
.mobile:before {
  content: "\e958";
}
.tablet:before {
  content: "\e95a";
}
.database:before {
  content: "\e964";
}
.undo:before {
  content: "\e965";
}
.redo:before {
  content: "\e966";
}
.undo2:before {
  content: "\e967";
}
.redo2:before {
  content: "\e968";
}
.forward:before {
  content: "\e969";
}
.bubble:before {
  content: "\e96b";
}
.bubbles2:before {
  content: "\e96d";
}
.spinner:before {
  content: "\e996";
}
.spinner2:before {
  content: "\e997";
}
.spinner3:before {
  content: "\e998";
}
.spinner4:before {
  content: "\e99a";
}
.spinner5:before {
  content: "\e980";
}
.spinner6:before {
  content: "\e99e";
}
.enlarge:before {
  content: "\e989";
}
.shrink:before {
  content: "\e98a";
}
.unlocked:before {
  content: "\e990";
}
.equalizer:before {
  content: "\e992";
}
.equalizer2:before {
  content: "\e993";
}
.cog:before {
  content: "\e994";
}
.cogs:before {
  content: "\e995";
}
.bug:before {
  content: "\e999";
}
.stats-dots:before {
  content: "\e99b";
}
.stats-bars:before {
  content: "\e99d";
}
.lab:before {
  content: "\e9aa";
}
.trash2:before {
  content: "\e9ad";
}
.menu4:before {
  content: "\e9c0";
}
.eye-minus:before {
  content: "\e9d0";
}
.bookmark:before {
  content: "\e9d2";
}
.bookmarks:before {
  content: "\e9d3";
}
.sun:before {
  content: "\e9d4";
}
.contrast:before {
  content: "\e9d5";
}
.brightness-contrast:before {
  content: "\e9d6";
}
.cancel-circle:before {
  content: "\ea0d";
}
.cross:before {
  content: "\ea0f";
}
.exit:before {
  content: "\ea14";
}
.previous1:before {
  content: "\ea18";
}
.next:before {
  content: "\ea19";
}
.backward:before {
  content: "\ea1a";
}
.forward2:before {
  content: "\ea1b";
}
.backward2:before {
  content: "\ea1f";
}
.forward3:before {
  content: "\ea20";
}
.first:before {
  content: "\ea21";
}
.last:before {
  content: "\ea22";
}
.previous:before {
  content: "\ea23";
}
.next2:before {
  content: "\ea24";
}
.volume-high:before {
  content: "\ea26";
}
.volume-medium:before {
  content: "\ea27";
}
.volume-mute2:before {
  content: "\ea2a";
}
.arrow-right:before {
  content: "\ea34";
}
.arrow-left:before {
  content: "\ea38";
}
.arrow-right2:before {
  content: "\ea3c";
}
.arrow-left2:before {
  content: "\ea40";
}
.circle-right:before {
  content: "\ea42";
}
.circle-left:before {
  content: "\ea44";
}
.move-up:before {
  content: "\ea46";
}
.move-down:before {
  content: "\ea47";
}
.sort-amount-asc:before {
  content: "\ea4c";
}
.sort-amount-desc:before {
  content: "\ea4d";
}
.checkbox-checked:before {
  content: "\ea52";
}
.checkbox-unchecked:before {
  content: "\ea53";
}
.radio-checked:before {
  content: "\ea54";
}
.radio-checked2:before {
  content: "\ea55";
}
.scissors:before {
  content: "\ea5a";
}
.filter:before {
  content: "\ea5b";
}
.font-size:before {
  content: "\ea61";
}
.omega:before {
  content: "\ea66";
}
.sigma:before {
  content: "\ea67";
}
.table:before {
  content: "\ea70";
}
.table2:before {
  content: "\ea71";
}
.insert-template:before {
  content: "\ea72";
}
.share2:before {
  content: "\ea82";
}
.rss:before {
  content: "\ea9b";
}
.youtube:before {
  content: "\ea9d";
}
.dropbox:before {
  content: "\eaae";
}
.linkedin:before {
  content: "\eac9";
}
.git:before {
  content: "\eae7";
}
.codepen:before {
  content: "\eae8";
}
.svg:before {
  content: "\eae9";
}
